{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="parallax-container" id="top-parallax">
   <div class="parallax">
      <img src="{{ MEDIA_URL }}flag.jpg" alt="joyce-statue" width="640" height="640">
   </div>
</div>


    {% for review in reviews %}
    
    <div class="row">
    <div class="col l10 offset-l1  s12 m10">
        <div class="card  ">
            <div class="card-content center-align ">
                <h3 class="card-title">{{ review.title }}</h3>
            </div>
            <div class="card-action center-align">
                <p class="center-align"><span class="highlight"> Review </span><br>{{ review.comments }}</p>
                <p class="center-align"><span class="highlight"> Date </span><br>{{ review.date_created }}</p>
                <p class="center-align"><span class="highlight"> By </span><br>{{ review.creator }}</p>
                <div class="card-action center-align">
                    {% if request.user.userprofile == review.creator or request.user.is_superuser %}
                    <a class="btn" href="{% url 'edit_review' review.id %}" aria-label="Edit review from {{ review.creator }}">Edit</a>
                    <a class="btn" href="{% url 'delete_review' review.id %}">Delete</a>
                   {% endif %}
                  </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if request.user.is_authenticated %}
<a href="{% url 'write_review' %}" class="btn btn-primary">Create Review</a>
{% endif %}
<div class="parallax-container">
   <div class="parallax">
      <img class="responsive-img" src="{{ MEDIA_URL }}pages.jpg" alt="pages">
   </div>
</div>
{% endblock %}