{% extends "base.html" %}
{% load static %}
{% block content %}
   <div class="parallax-container" id="top-parallax">
      <div class="parallax">
         <img src="{{ MEDIA_URL }}flag.jpg" alt="joyce-statue" width="640" height="640">
      </div>
   </div>
   {% if cart_items %}
      <table class="responsive-table">
         <thead>
            <tr>
               <th>Course Name</th>
               <th>Price</th>
               <th>Number of Hours</th>
               <th>Course Description</th>
            </tr>
         </thead>
         <tbody>
         <!-- clear button -->
         <a class="btn" href="{% url 'clear_cart'  %}">Clear</a>
         
         {% for item in cart_items %}
            {% if 'course' in item %}
              
               <p> {{ item.course.name }}</p>
               <p> {{ item.course.price }}</p>
               <p> {{ item.course.hours }}</p>
               <p> {{ item.course.description }}</p>

            {% elif 'exam_course' in item %}

               <p> {{ item.exam_course.name }}</p>
               <p> {{ item.exam_course.price }}</p>
               <p> {{ item.exam_course.hours }}</p>
               <p> {{ item.exam_course.description }}</p>
            
            {% endif %}
               <!-- While still in the loop add a form here -->
               <form class="form" class="remove-item">
                  <input type="hidden" value="{{ csrf_token }}" name="csrf_token" />
                  <input type="hidden" name="item_id" value="{% if 'course' in item %}{{ item.course.id }}{% elif 'exam_course' in item %}{{ item.exam_course.id }}{% endif %}"></input>
                  <input type="hidden" name="item_type" value="{% if 'course' in item %}course{% elif 'exam_course' in item %}exam_course{% endif %}"></input>
                  <input type="submit" value="Remove"></input>
               </form>
         {% endfor %}
         </tbody>
      </table>
   {% else %}
      <p class="lead mb-5">Your bag is empty.</p>
      <a href="{% url 'courses' %}" class="btn btn-outline-black rounded-0 btn-lg">
         <span class="icon">
            <i class="fas fa-chevron-left"></i>
         </span>
         <span class="text-uppercase">Keep Shopping</span>
      </a>
      <a onclick="M.toast({html: 'I am a toast'})" class="btn">Toast!</a>
   {% endif %}

   <div class="parallax-container">
      <div class="parallax">
         <img class="responsive-img" src="{{ MEDIA_URL }}pages.jpg" alt="banshee">
      </div>
   </div>
{% endblock %}


{% block extra_js %}

<script type="text/javascript">
// Remove item and reload on click
$('form').submit(function(event) {
  event.preventDefault()
  const form = event.target

  var url = `/cart/remove/${form.item_id.value}`;
  var data = {'csrfmiddlewaretoken': form.csrf_token.value, 'item_type': form.item_type.value, 'item_id': form.item_id.value};
  console.log(data)

  $.post(url, data)
   .done(function() {
       location.reload();
   });
})
</script>
{% endblock %}