{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="parallax-container" id="top-parallax">
   <div class="parallax">
      <img src="{{ MEDIA_URL }}flag.jpg" alt="joyce-statue" width="640" height="640">
   </div>
</div>
{% if cart_items %}
<table class="responsive-table">
   <thead>
      <tr>
         <th>Course Name</th>
         <th>Price</th>
         <th>Number of Hours</th>
         <th>Course Description</th>
      </tr>
   </thead>


   {% for item in cart_items %}
   {% if item.id == exam_course.id %}
   <tbody>
      <tr>
         <td>{{ item.exam_course.name }}</td>
         <td>{{ item.exam_course.price }}</td>
         <td>{{ item.exam_course.hours }}</td>
         <td>{{ item.exam_course.description }}</td>
      </tr>
   </tbody>
</table>

{% endif %}
{% if item.id == course.id %}
<table>
<tbody>
   <tr>
      <td>{{ item.course.name }}</td>
      <td>{{ item.course.price }}</td>
      <td>{{ item.course.hours }}</td>
      <td>{{ item.course.description }}</td>
   </tr>
</tbody>
</table>

{% endif %}
<a class="btn" href="{% url 'clear_cart' item.item_id %}">Clear</a>
{% endfor %}
{% else %}
<p class="lead mb-5">Your bag is empty.</p>
<a href="{% url 'courses' %}" class="btn btn-outline-black rounded-0 btn-lg">
<span class="icon">
<i class="fas fa-chevron-left"></i>
</span>
<span class="text-uppercase">Keep Shopping</span>
</a>
{% endif %}

<div class="parallax-container">
   <div class="parallax">
      <img class="responsive-img" src="{{ MEDIA_URL }}pages.jpg" alt="banshee">
   </div>
</div>
{% endblock %}