{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="parallax-container" id="top-parallax">
   <div class="parallax">
      <img src="{{ MEDIA_URL }}flag.jpg" alt="joyce-statue" width="640" height="640">
   </div>
</div>
{% if cart_items %}
<table class="responsive-table">
   <thead>
      <tr>
         <th>Course Name</th>
         <th>Price</th>
         <th>Number of Hours</th>
         <th>Course Description</th>
      </tr>
   </thead>
   {% for item in cart_items %}
   {% if item.id == exam_course.id %}
   <tbody>
      <tr>
         <td>{{ item.exam_course.name }}</td>
         <td>€500.00</td>
         <td>50</td>
         <td>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."</td>
      </tr>
   </tbody>
</table>

{% endif %}
{% if item.id == course.id %}
<table>
<tbody>
   <tr>
      <td>{{ item.course.name }}</td>
      <td>€500.00</td>
      <td>50</td>
      <td>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."</td>
   </tr>
</tbody>
</table>
<a class="btn" href="{% url 'clear_cart' item.id %}">Clear</a>
{% endif %}
{% endfor %}
{% else %}
<p class="lead mb-5">Your bag is empty.</p>
<a href="{% url 'courses' %}" class="btn btn-outline-black rounded-0 btn-lg">
<span class="icon">
<i class="fas fa-chevron-left"></i>
</span>
<span class="text-uppercase">Keep Shopping</span>
</a>
{% endif %}
<div class="parallax-container">
   <div class="parallax">
      <img class="responsive-img" src="{{ MEDIA_URL }}pages.jpg" alt="banshee">
   </div>
</div>
{% endblock %}