{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="parallax-container">
    <div class="parallax">
       <img src="{{ MEDIA_URL }}trieste-italy-shutterstock_1523485277_4eea266574.jpeg" alt="joyce-statue">
    </div>
 </div>

 <div class="col l4 pull-l2 m6 s12">
    <div class="card ">
       <div class="card-content center-align ">
          <span class="card-title">Log In</span>
          <p>Already a member? Click here to jump back in and continue the journey!
          </p>
       </div>
       </div>
       </div>

 <div class="parallax-container">
    <div class="parallax">
        <img src="{{ MEDIA_URL }}49132907558_2aa6b630ce_c.jpg" alt="banshee">
  </div>
 </div>
{% endblock %}