{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="parallax-container">
    <div class="parallax">
       <img src="{{ MEDIA_URL }}flag.jpg" alt="joyce-statue" width="640" height="640">
    </div>
 </div>

 <div class="col l4 pull-l2 m6 s12">
    <div class="card ">
       <div class="card-content center-align ">
          <span class="card-title">Welcome to the Joyce School of English</span>
          <p> We are a small English language school nestled in the heart of Trieste. We are all native English speakers with a passion for teaching and we strive to make English accessible for all our students! We teach all ages and levels. Check out our courses to see if there's something to suit you!
          </p>
       </div>
       </div>
       </div>

 <div class="parallax-container">
    <div class="parallax">
        <img class="responsive-img" src="{{ MEDIA_URL }}pages.jpg" alt="banshee">
  </div>
 </div>
{% endblock %}