@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Patrick+Hand&display=swap');
body {
    font-family: 'Architects Daughter', sans-serif;
    background-color: #E8F1FD;
    display: flex;
	min-height: 100vh;
	flex-direction: column;
   
}
main{
	flex: 1 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Patrick Hand', sans-serif;
	color: #070a0d!important;
	font-weight: 600;
}
.large-text{
	font-size: 1.5rem;
}
nav{
	background-color: #e63946;
	font-family: 'Patrick Hand', sans-serif;
	min-height: 68px;
	padding-right: .75rem;
}
.brand-logo, 
.page-header{
	font-family: 'Patrick Hand', sans-serif;
	color: #f1faee !important;
	font-weight: 600;
}
.brand-logo{
	margin-left: 20px !important;
}
.sidenav{
	background-color: #f1faee;
	color: #070a0d;
}

.sidenav-h4{
	color: #070a0d !important;
}
.dropdown-content {
	background-color: #f1faee;
}
.dropdown-content li>a {
	color: #e63946;
	font-weight: 500;
}
.no-float{
	float: none !important;
}
/*--Bootstrap inline list style Found on Stack Overflow--*/

.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
	padding-top: 10px;
	margin-top: 0;
	margin-bottom: 0;
}

.list-inline>li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}


/*--------------Footer--------*/

.page-footer {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding-bottom: 0;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
	left: 0;
	bottom: 0;
    background-color: #4ea5d9;
	color: #f1faee;
	text-shadow: 2px #070a0d !important;
	border-top: 1px #f1faee solid;
	height: 70px;
}

footer>h5 {
	padding-top: 10px;
	margin-top: 0;
	margin-bottom: 0;
	-webkit-text-stroke: 1px black !important;
}
.foot-header{
	color:#f1faee !important;
}
.text-shadow{
	text-shadow: 0px 2px 2px rgba(8, 8, 8, 0.4);
}
.footer-row{
	margin-bottom: 0;
}

/*----Icons----*/
.footer-icon {
    color: #f1faee;
    font-size: 1.5rem;
    margin-top: 10px;
	padding-right: .75rem;
}

.footer-icon:hover{
    color: #203a54 !important;
    background-color: #4ea5d9 !important;
    
}
/*----Toasts-----*/
.toast.rounded {
 
    background-color: #203a54 !important;
}

/*-----Parallax Container-----*/

.parallax-container .parallax img {
	opacity: 1;
}

#top-parallax {
	height: 70vh;
}

.card{
	margin-left: 8rem;
	margin-right: 8rem;
	font-size: 1.25rem;
}
.card-title{
	font-weight: 600 !important;
}
/*-------Home Page-------*/
.home-card{
	margin-left: 0 !important;
	margin-right: 0 !important;
	font-size: 1.25rem;
}
.home-card .card-action{
	padding: 1rem 0 1rem 0;
}
.home-card-title{
	font-family: 'Patrick Hand', sans-serif ;
	font-size: 2.5rem !important;
}
/*---End Home Page----*/
/*-----Profile Page----*/
.profile-header{
	float: none!important;
}

#profile-update-form{
	margin-left: 1.5rem !important;
	margin-right: 1.5rem !important;
}
#profile-update-form .input-field>label{
	color: #070a0d !important;
	font-size: 1.5rem !important;
	font-weight: 800;
    text-decoration-line: underline;
}
.order-history{
	margin-left: 1.5rem !important;
	margin-right: 1.5rem !important;
}
tbody{
	font-weight: 600;
}
/*----End Profile Page---*/
/*----Cart Page CSS------*/
#cart-btn-div{
	margin-bottom: 10px;
	margin-top: 5px;
	
}
/*.cart-btns{
	margin-left: 10rem !important;
	margin-right: 10rem !important;
}*/

/*-----Background Image CSS---*/
body.background-image-1 {
	background: url("../../media/flag.jpg") no-repeat center center fixed;
	width: 100vw;
	height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	overflow-x: hidden !important;
}

body.background-image-2 {
	background: url("../../media/pages.jpg") no-repeat center center fixed;
	width: 100vw;
	height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	overflow-x: hidden;
}

/* AllAuth CSS */
.allauth-card{
	margin-top: 2rem;
	padding: 1rem 3rem 2rem 3rem;
	width: 45vw;
	margin-left: auto;
	margin-right: auto;

}
.nav-cards{
	padding: .25rem 1rem .75rem 1rem !important;
	margin-left: 2rem;
	margin-right: 2rem;
	width: 25vw;
}
.nav-card-content{
	padding: 0 !important;
}
/*------------Courses------------*/
/*.collapsible,
.collapsible-header{
	background-color: #e63946;
	padding: 0;
}
.drop-container{
	margin-left: 1rem;
	margin-right: 1rem;

}
.collapsible-body {
	background-color: #f1faee;
}
.course-header{
	color: #f1faee !important;
}*/ 
.course-card{
	height: 12rem;
	margin-left: 1rem !important;
	margin-right: 1rem !important;
}
.course-content{
	padding: 0 !important;
}
.card-title{
	padding: 2rem;
}
.highlight {
	font-weight: 800;
	
}
.exam-course-card{
    margin-top: 2rem !important;
    height: 12rem !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    margin-bottom: 2rem !important;
	
}
.exam-card-action{
	margin-bottom: 2rem !important;
    padding: 12px !important
}
.exam-card-title{
	padding: 1rem;
	line-height: 12px !important;
    margin-bottom: 0 !important;
}
.detail-image{
	height: 40rem;
	width: 65rem;
}
/*----------Forms and Allauth----------*/
label{
	font-size: 1.25rem;
	color: #070a0d !important;
}
.signup_form{
	width: auto;
	margin-left: 2rem;
	margin-right: 2rem;
}

#form-row{
	margin: 0 !important;
}
.form-btn{
	background-color: #4ea5d9;
	font-family: 'Architects Daughter', sans-serif;
}

.form-btn:hover{
	background-color: #203a54;
}

.form-p{
	font-size: 1.5rem;
}

/*----Buttons----*/

.btn{
	margin: 1px;
	background-color: #070a0d;
	font-family: 'Architects Daughter', sans-serif;
}
.btn:hover{
	background-color: #4ea5d9;
}
/*---Contact Page---*/
#thanks {
	font-size: 1.5rem;
	font-weight: 800;
	padding: 1.25rem;
}
#contactUs{
	padding: 1.5rem;
}
.contact-form{
	font-size: 1.5rem !important;
}

/*-----------Reviews Page------*/
/*----Back to Top Button ------------*/
/*----This Code was found on Codepen.io----*/

#scroll {
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#070a0d;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
	z-index: 1;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#f1faee;
}
#scroll:hover {
    background-color:#4ea5d9;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}

#review-card-content{
	padding: 0 !important;
	
}
#review-card-title{
	font-size: 2.5rem;
}

input#id_title.form-control{
	font-size: 1.5rem;
    margin-top: 1rem;
}
textarea#id_comments.form-control{
	font-size: 1.5rem;
	height: 15vh;
}

@media only screen and (min-width: 577px) and (max-width:992px) {
	.allauth-card{
		margin-top: 2rem;
		padding: 1rem 3rem 2rem 3rem;
		width: 70vw;
		margin-left: auto;
		margin-right: auto;
	
	}
	.nav-cards{
		padding: .25rem 1rem .75rem 1rem !important;
		margin-left: auto;
		margin-right: auto;
		width: 70vw;
	}
	.signup_form {
		width: auto;
		margin-left: 1rem;
		margin-right: 1rem;
	}

}

@media only screen and (max-width: 576px) {
	html,
	body {
		max-width: 100%;
		overflow-x: hidden !important;
		height: auto !important;
	}
	/*-----------Navigation-------*/
	
	.brand-logo {
		left: 40% !important;
		font-size: 1.5rem !important;
		
	}
	.sidenav li>a {
		font-size: 1.5rem;
	}	
	/*--------Footer--------*/
	.page-footer{
		height: 100px;
		left: 0;
  bottom: 0;
 
		
	}
	.footer-row{
		margin-bottom: 0;
		background-color: #4ea5d9;
	}
	.footer-icon {
	
		font-size: 1.5rem;
		margin-top: 10px;
		padding-right: .5rem;
	}
	/*----------Cards-------------*/
	.detail-card{
		margin-left: .75rem !important;
		margin-right: .75rem !important;
		
	}
	.card{
		margin-left: 5px;
		margin-right: 5px;
		font-size: 1.25rem;
	}
	.course-card{
		margin-bottom: 2.5rem;
		margin-top: 2.5rem;
	}
	.allauth-card{
		margin-top: 2rem;
		padding: 1.5rem 1.5rem 2.5rem 1.5rem;
		width: 80vw;
		margin-left: auto;
		margin-right: auto;
	
	}
	.nav-cards{
		padding: .25rem 1rem .75rem 1rem !important;
		margin-left: auto;
		margin-right: auto;
		width: 80vw;
	}
	.large-text {
		font-size: 1.25rem;
	}
	.signup_form{
		width:auto;
		margin-left: auto;
    	margin-right: auto;
	}
	textarea#id_comments.form-control{
		height: 10vh;
	}
}
