<nav class="nav-extended">
    <div class="nav-wrapper">
       <a href="#" class="brand-logo ">MotherFolklore</a>
       <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
       <ul class="right hide-on-med-and-down">
          <li><a href="#" >Home</a></li>
          <li><a href="#">Articles</a></li>
          <li><a href="#">Contact</a></li>
          {% if session.user %}
          <li><a href="#">Profile</a></li>
          <li><a href="#">Contribute</a></li>
          {% if session.user|lower == "admin"|lower %}
          <li> <a class='dropdown-trigger' href='#' data-target='dropdown1'>Topics/Further Reading<i class="fas fa-caret-down"></i></a></li>
          <ul id='dropdown1' class='dropdown-content center'>
             <li><a href="#">Topics</a></li>
             <li><a href="#">Add Topic</a></li>
             <li><a href="#">Add Further Reading</a></li>
          </ul>
          {% else %}
          <li><a href="#">Topics</a></li>
          {% endif %}
          <li><a href="#">Log Out</a></li>
          {% else %}
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Log In</a></li>
          {% endif %}
       </ul>
    </div>
 </nav>