<nav class="nav-extended">
    <div class="nav-wrapper text-shadow">
       <a href="#" class="brand-logo ">Joyce School of English</a>
       <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
       <ul class="right hide-on-med-and-down">
          <li><a href="{% url 'home' %}" >Home</a></li>
          <li><a href="{% url 'courses' %}">Courses</a></li>
          <li><a href="{% url 'exam_courses' %}">Exam Courses</a></li>
          <li><a href="#">Contact</a></li>
          {% if request.user.is_authenticated %}
          <li><a href="{% url 'profiles' %}"></a>">Profile</a></li>
          <li><a href="#">Reviews</a></li>
          <li class="list-inline-item dropdown">
            <a href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user fa-lg"></i>
            My Account
            </a>
         <li class="list-inline-item">
            <a class="{% if order_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'cart' %}">
               <i class="fas fa-shopping-cart"></i>
            {% if order_total %}
            ${{ order_total|floatformat:2 }}
            {% else %}
            €0.00
            {% endif %}
            </a>
         </li>
          {% if request.user.is_superuser %}
          <li id='dropdown1' class='dropdown-content center'>
             <a href="" class="dropdown-item">Product Management</a>
          </li>
          {% endif %}
          <li><a href="{% url 'account_logout' %}">Log Out</a></li>
          {% else %}
          <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
          <li><a href="{% url 'account_login' %}">Log In</a></li>
          {% endif %}
       </ul>
    </div>
 </nav>