<ul class="sidenav right" id="mobile-demo">
    <li>
       <h4 class="center-align sidenav-h4">Joyce School</h4>
    </li>
    <li><a href="#" >Home</a></li>
    <li><a href="#">Articles</a></li>
    <li><a href="#">Contact</a></li>
    {% if session.user %}
    <li><a href="#">Profile</a></li>
    <li><a href="#">Contribute</a></li>
    <li><a href="">Topics</a></li>
    {% if session.user|lower == "admin"|lower %}
    <li><a href="#">Add Topic</a></li>
    <li><a href="#">Add Further Reading</a></li>
    {% endif %}
    <li><a href="{% url 'account_logout' %}">Log Out</a></li>
    {% else %}
    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
    <li><a href="{% url 'account_login' %}">Log In</a></li>
    {% endif %}
 </ul>