<ul class="sidenav right" id="mobile-demo">
    <li>
       <h4 class="center-align sidenav-h4">Joyce School</h4>
    </li>
    <li><a href="{% url 'home' %}" >Home</a></li>
    <li><a href="#">Courses</a></li>
    <li><a href="#">Contact</a></li>
    {% if request.user.is_authenticated %}
    <li><a href="#">Profile</a></li>
    <li><a href="#">Contribute</a></li>
    
      {% if request.user.is_superuser %}
    
    <li id='dropdown1' class='dropdown-content center'>
      <a href="" class="dropdown-item">Product Management</a>
    </li>
    {% endif %}
    <li><a href="{% url 'account_logout' %}">Log Out</a></li>
    {% else %}
    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
    <li><a href="{% url 'account_login' %}">Log In</a></li>
    <li class="list-inline-item dropdown">
      <a href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          
              <i class="fas fa-user fa-lg"></i>
              My Account
          
      </a>
    <li class="list-inline-item">
      <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="">
          
              <i class="fas fa-shopping-bag fa-lg"></i>
            
                  {% if grand_total %}
                      ${{ grand_total|floatformat:2 }}
                  {% else %}
                      €0.00
                  {% endif %}
              
      </a>
  </li>
    {% endif %}
 </ul>