{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block content %}
<h1 class="center-align">{% trans "Change Password" %}</h1>
<form method="POST" action="{% url 'account_change_password' %}" class="password_change signup_form">
   {% csrf_token %}
   {{ form.as_p }}
   <div class="card-action center-align">
      <button type="submit" name="action" class="btn center-align">{% trans "Change Password" %}</button>
   </div>
</form>
{% endblock %}
