{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Set Password" %}{% endblock %}
{% block content %}
<div class="row">
   <div class="col l12  s10 offset-s1 m10 offset-m1">
      <div class="card-panel allauth-card">
         <h1 class="center-align">{% trans "Set Password" %}</h1>
      </div>
   </div>
</div>
<form method="POST" action="{% url 'account_set_password' %}" class="password_set signup_form">
   {% csrf_token %}
   {{ form.as_p }}
   <div class="card-action center-align">
      <input type="submit" name="action" value="{% trans 'Set Password' %}" class="btn center-align"/>
   </div>
</form>
{% endblock %}