{% extends "base.html" %}
{% load static %}
{% block content %}
<!--Main Course Content-->
<body class="background-image-1">
<div class="row">
   <div class="col s12 center-align">
      <h3 class="page-header text-shadow">Courses</h3>
   </div>
</div>
<!--Course Cards-->
<div class="row custom-row">
   {% for course in courses %}
   <div class="col l4 s12 m10">
      <div class="card course-card ">
         <div class="card-content center-align course-content ">
            <span class="card-title">{{ course.name }}</span>
         </div>
         <div class="card-action center-align">
            <a href="{% url 'course_detail' course.id %}" class=" btn">Read more</a>
         </div>
      </div>
   </div>
   {% endfor %}
</div>
</body>
{% endblock %}