{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
   <div class="col s12 center-align">
      <h3>Courses</h3>
   </div>
</div>
<div class="row ">

   <ul class="list-inline">
      
    <div class="card">
        <div class="card-content">
      <span class="card-title center-align">  {{ course.name }}</span>
      <br>
      <div class="col center-align">
      <img src="{{MEDIA_URL}}{{ course.image }}" class="image center-align" width="650" height="400" alt="image">
      </div><br>

      {{ course.description }}<br>
      <p class="center-align"><span class="highlight"> Price </span>{{ course.price }}</p>
      <p class="center-align"><span class="highlight">Start </span> {{ course.start_date }}</p>
      <p class="center-align"><span class="highlight">Finish </span> {{ course.end_date }}</p>
      <p class="center-align"><span class="highlight">Number of hours </span> {{ course.hours }}</p>
      </div>
      </div>
      </li>
   </ul>
</div>
{% endblock %}