{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
   <div class="col s12 center-align">
      <h3>Courses</h3>
   </div>
</div>
<div class="row ">

   <ul class="list-inline">
      
    <div class="card">
        <div class="card-content">
      <span class="card-title center-align">  {{ course.name }}</span>
      <br>
      <div class="col center-align">
      <img src="{{MEDIA_URL}}{{ course.image }}" class="image center-align" width="650" height="400" alt="image">
      </div><br>

      {{ course.description }}<br>
      <p class="center-align"><span class="highlight"> Price </span>{{ course.price }}</p>
      <p class="center-align"><span class="highlight">Start </span> {{ course.start_date }}</p>
      <p class="center-align"><span class="highlight">Finish </span> {{ course.end_date }}</p>
      <p class="center-align"><span class="highlight">Number of hours </span> {{ course.hours }}</p>
      </div>
      </div>
      </li>
   </ul>
   <form class="form" action="{% url 'add_to_cart' course.id %}" method="POST">
      {% csrf_token %}
      <div class="form-row">
        <div class="col-12">
             <!-- <p class="mt-3"><strong>Quantity:</strong></p>-->
            <div class="form-group w-50">
                <div class="input-group">
                    <input class="form-control qty_input" type=" hidden number" name="quantity" value="1" min="1" max="1" data-item_id="{{ course.id }}" id="id_qty_{{ course.id }}">
                </div>
            </div>
        </div>
      
          <div class="col-12">
              <a href="{% url 'courses' %}" class="btn btn-outline-black rounded-0 mt-5">
                  <span class="icon">
                      <i class="fas fa-chevron-left"></i>
                  </span>
                  <span class="text-uppercase">Keep Shopping</span>
              </a>
              <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
          </div>
          <input type="hidden" name="redirect_url" value="{{ request.path }}">
          <input type="hidden" name="item_type" value="courses" />
      </div>
  </form>
</div>
{% endblock %}