{% extends "base.html" %}
{% load static %}
{% block content %}

{% block extra_css %}
<style>
   body{
   background: url("{% media 'flag.jpg' %}") no-repeat center center fixed;
	width: 100vw;
	height: 100vh;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	overflow-x: hidden !important;
  
   }
</style>
{% endblock %}
<!--Main Course Content ("{{ MEDIA_URL }}flag.jpg")-->
<!--body class="background-image-1">-->
<div class="row">
   <div class="col s12 center-align">
      <h3 class="page-header shadow-text">Courses</h3>
   </div>
</div>
<!--Course Cards-->
<div class="row custom-row">
   {% for course in courses %}
   <div class="col l4 s12 m10">
      <div class="card course-card ">
         <div class="card-content center-align course-content ">
            <span class="card-title">{{ course.name }}</span>
         </div>
         <div class="card-action center-align">
            <a href="{% url 'course_detail' course.id %}" class=" btn">Read more</a>
         </div>
      </div>
   </div>
   {% endfor %}
</div>

{% endblock %}