{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      {% block meta %}
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta name="description" content="English language school">
      {% endblock %}
      {% block extra_meta %}
      {% endblock %}
      {% block corecss %} 
      <!--Favicon-->
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
      <!--Stylesheets-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
         integrity="sha512-xA6Hp6oezhjd6LiLZynuukm80f8BoZ3OpcEYaqKoCV3HKQDrYjDE1Gu8ocxgxoXmwmSzM4iqPvCsOkQNiu41GA==" crossorigin="anonymous" type="text/css">
      <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
      {% endblock %}
      {% block extra_css %}
      {% endblock %}      
      {% block corejs %}  
      <!--Core JS Scripts-->
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"
         integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="https://js.stripe.com/v3/"></script>
      <script src="{% static 'js/script.js' %}"></script>
      {% endblock %}
      {% block extra_js %}
      {% endblock %}
      <title>Joyce School of English  {% block extra_title %}{% endblock %}</title>
   </head>
   <body>
      <!--Main Header and Navigation-->
      <header>
         <nav>
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/main-nav.html' %}
         </nav>
      </header>
      <main>
      <!--Django Messages and Materialize Toasts-->
      {% if messages %}
      {% for message in messages %}
      {% if message.tags == 'success'%}
      <div class="container">
         <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:10000});</script>
      </div>
      {% endif %}
      {% if message.tags == 'error'%}
      <div class="container">
         <script>M.toast({html: "{{message}}", classes: 'red ', displayLength:10000});</script>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% block page_header %}
      {% endblock %}
      {% block content %}
      {% endblock %} 
      </main>     
      <!--Main Footer Content-->
      <footer class = "page-footer shadow-text">
         <div class="row">
            <div class="col l6  m6 s12 left">
               <h5 class=" foot-header shadow-text">Joyce School of English &copy;</h5>
            </div>
            <!--Social Media Links-->
            <div class="col l6 m6 s12 footer-icons ">
               <ul class="list-inline shadow-text">
                  <li><a href="https://www.facebook.com/" class="footer-icon" rel="noopener" target="_blank"><i
                     class="fab fa-facebook-square"><span class="sr-only">Facebook</span></i></a></li>
                  <li><a href="https://www.instagram.com/" class="footer-icon" rel="noopener" target="_blank">
                     <i class="fab fa-instagram "><span class="sr-only">Instagram</span></i></a>
                  </li>
                  <li><a href="{% url 'contact' %}" rel="noopener" class="footer-icon">
                     <i class="fas fa-envelope "><span class="sr-only">Contact</span></i></a>
                  </li>
                  <li><a href="https://www.github.com/" class="footer-icon" rel="noopener" target="_blank">
                     <i class="fab fa-github "><span class="sr-only">GitHub</span></i></a>
                  </li>
               </ul>
            </div>
         </div>
      </footer>
      <!--Postload JS Scripts-->
      {% block postloadjs %}
      {% endblock %}
   </body>
</html>