{% load static %}
<!DOCTYPE html>
  <html>
    <head>
      {% block meta %}
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      {% endblock %}

    {% block extra_meta %}
    {% endblock %}

      {% block corecss %} 
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
      {% endblock %}

    {% block extra_css %}
    {% endblock %}

      <title>Joyce School of English  {% block extra_title %}{% endblock %}</title>
    </head>

    <body>
        <header class="container-fluid fixed-top">Joyce School of English</header>

    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}



      {% block corejs %}  
      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
      {% endblock %}

      {% block extra_js %}
      {% endblock %}
    </body>
  </html>