{% extends 'base.html' %}
{% load static %}
{% block content %}
<!---------Import Email Js------------->
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
<script>
   (function(){
      emailjs.init("user_3MpZ43XcMqWmcr1rZUerd");
   })();
</script>

{% endblock %}

<!-----------Contact Page Main Body------->

   <!--------Parallax Container-------->
   <div class="parallax-container" id="top-parallax">
    <div class="parallax">
       <img src="{{ MEDIA_URL }}flag.jpg" alt="joyce-statue" width="640" height="640">
    </div>
 </div>
   <!----------------Contact Form------------>
   <h3 class="center-align">Contact Us!</h3>
   <p class="center-align large-text">If you have any queries feel free to contact us using the form below</p>
   <!-----Submission Thank you message------->
   <div class="container">
      <div class="row">
         <div class="card">
            <div id="thanks" style="display: none" class="center-align">
               <p class="text-center" id="thank-you-msg"></p>
            </div>
         </div>
      </div>
   </div>
   <!--------------Form Fields--------------->
   <div class="container">
      <div class="row">
         <form onsubmit="return sendMail(this);" method="POST" class="col s12 card-panel" id="contactUs">
           
            <div class="input-field col s6">
               <input id="name" type="text" class="validate" required>
               <label class="contact-form" for="name"> Name</label>
            </div>
            <div class="input-field col s12">
               <input id="emailaddress" type="email" class="validate" required>
               <label class="contact-form" for="emailaddress">Email</label>
            </div>
            <div class="input-field col s12">
               <textarea id="textarea" class="materialize-textarea" required></textarea>
               <label class="contact-form" for="textarea">Your message</label>
            </div>
            <div class="center-align col s12">
               <button class="btn" id="contact-btn" type="submit" onsubmit="thankYou()">Submit</button>
            </div>
         </form>
      </div>
   </div>
   <!-----------Parallax Container------------->
   <div class="parallax-container">
    <div class="parallax">
       <img class="responsive-img" src="{{ MEDIA_URL }}pages.jpg" alt="banshee">
    </div>
 </div>
 {% endblock %}

 {% block postloadjs %}
 {{ block.super }}
 <script src="{% static 'contact/js/email.js' %}"></script>
 {% endblock %}
    